/* Import Font 'Gilroy Medium' */
@font-face {
    font-family: 'Gilroy';
    src: url('./../assets/fonts/gilroy-medium/Gilroy-Medium.woff2') format('woff2'),
        url('./../assets/fonts/gilroy-medium/Gilroy-Medium.woff') format('woff'),
        url('./../assets/fonts/gilroy-medium/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Import Font 'Lora' */
@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('./../assets/fonts/lora/lora-v35-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: url('./../assets/fonts/lora/lora-v35-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 500;
    src: url('./../assets/fonts/lora/lora-v35-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 500;
    src: url('./../assets/fonts/lora/lora-v35-latin-500italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    src: url('./../assets/fonts/lora/lora-v35-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 600;
    src: url('./../assets/fonts/lora/lora-v35-latin-600italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('./../assets/fonts/lora/lora-v35-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: url('./../assets/fonts/lora/lora-v35-latin-700italic.woff2') format('woff2');
}

/* Import Font 'Cormorant Garamond' */
@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 300;
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300.eot');
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300.woff2') format('woff2'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300.woff') format('woff'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300.ttf') format('truetype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300.svg#CormorantGaramond') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 300;
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300italic.eot');
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300italic.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300italic.woff2') format('woff2'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300italic.woff') format('woff'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300italic.ttf') format('truetype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-300italic.svg#CormorantGaramond') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-regular.eot');
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-regular.woff2') format('woff2'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-regular.woff') format('woff'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-regular.ttf') format('truetype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-regular.svg#CormorantGaramond') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 400;
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-italic.eot');
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-italic.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-italic.woff2') format('woff2'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-italic.woff') format('woff'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-italic.ttf') format('truetype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-italic.svg#CormorantGaramond') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500.eot');
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500.woff2') format('woff2'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500.woff') format('woff'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500.ttf') format('truetype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500.svg#CormorantGaramond') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 500;
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500italic.eot');
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500italic.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500italic.woff2') format('woff2'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500italic.woff') format('woff'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500italic.ttf') format('truetype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-500italic.svg#CormorantGaramond') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600.eot');
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600.woff2') format('woff2'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600.woff') format('woff'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600.ttf') format('truetype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600.svg#CormorantGaramond') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 600;
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600italic.eot');
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600italic.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600italic.woff2') format('woff2'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600italic.woff') format('woff'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600italic.ttf') format('truetype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-600italic.svg#CormorantGaramond') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700.eot');
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700.woff2') format('woff2'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700.woff') format('woff'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700.ttf') format('truetype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700.svg#CormorantGaramond') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 700;
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700italic.eot');
    src: url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700italic.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700italic.woff2') format('woff2'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700italic.woff') format('woff'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700italic.ttf') format('truetype'),
        url('./../assets/fonts/cormorant-garamond/cormorant-garamond-v16-latin-700italic.svg#CormorantGaramond') format('svg');
}